﻿<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                            <li class="uk-active" aria-expanded="true"><a href="#">Meeting Schedule Management</a></li>
                            <li><a href="#">Create Meeting Schedule</a></li>
                        </ul>
                        <ul id="tabs_1_content" class="uk-switcher uk-margin">
                            <li aria-hidden="false" class="uk-active">
                                <div class="uk-width-medium-1-1 uk-row-first">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-2-10 uk-row-first">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Name</h3>
                                                <input type="text" class="md-input">
                                            </div>

                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Sale Activity</h3>
                                                <input type="text" class="md-input">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10 uk-row-first">
                                            <h3 class="heading_a">From Date<span class="p-l-10"><i
                                                    class="uk-input-group-icon uk-icon-calendar"></i></span></h3>

                                            <div class="uk-input-group">

                                                <input class="md-input" type="text" id="uk_dp_start" md-input
                                                       ng-model="itemCreate.dp_start">
                                            </div>


                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <h3 class="heading_a">To Date<span class="p-l-10"><i
                                                    class="uk-input-group-icon uk-icon-calendar"></i></span></h3>

                                            <div class="uk-input-group">
                                                <input class="md-input" type="text" id="uk_dp_end" md-input
                                                       ng-model="itemCreate.dp_end">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light m-t-25"
                                                   href="javascript:void(0)"><i
                                                        class="md-icon material-icons">search</i>Filter</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li aria-hidden="false" class="">
                                <div class="uk-width-medium-1-1 uk-row-first">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Name</h3>

                                                <div class="uk-input-group">
                                                    <input type="text" class="md-input" ng-model="itemCreate.name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <h3 class="heading_a">Time<span class="p-l-10"><i
                                                    class="uk-input-group-icon uk-icon-clock-o"></i></span></h3>

                                            <div class="uk-input-group">
                                                <input class="md-input" type="text" id="uk_tp_1" data-uk-timepicker readonly
                                                       ng-model="itemCreate.time">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <h3 class="heading_a">Date<span class="p-l-10"><i
                                                    class="uk-input-group-icon uk-icon-calendar"></i></span></h3>

                                            <div class="uk-input-group">
                                                <input class="md-input" type="text" id="uk_dp_date" readonly
                                                       ng-model="itemCreate.date">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Action of Sale</h3>

                                                <div class="uk-input-group">
                                                    <input type="text" class="md-input"
                                                           ng-model="itemCreate.actionOfSale">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Name of Company</h3>

                                                <div class="uk-input-group">
                                                    <input type="text" class="md-input"
                                                           ng-model="itemCreate.nameOfCompany">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Name of Contact</h3>

                                                <div class="uk-input-group">
                                                    <input type="text" class="md-input"
                                                           ng-model="itemCreate.nameOfContact">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Position</h3>

                                                <div class="uk-input-group">
                                                    <input type="text" class="md-input" ng-model="itemCreate.position">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Assign for Sale Staff</h3>

                                                <div class="uk-input-group">
                                                    <select kendo-drop-down-list
                                                            k-data-text-field="'name'"
                                                            k-data-value-field="'id'"
                                                            k-data-source="selectize_staff"
                                                            ng-model="itemCreate.saleStaffId">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light m-t-25"
                                                   href="javascript:void(0)"><i
                                                        class="md-icon material-icons">add</i>Create</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content" ng-controller="calendarCtrl">
                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-overflow-container uk-margin-bottom">
                        <h2>Meeting schedule list</h2>
                        <table class="uk-table uk-table-align-vertical uk-table-nowrap"
                               id="ts_pager_filter">
                            <thead>
                            <tr>
                                <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all">
                                </th>
                                <th data-priority="critical">Name</th>
                                <th data-priority="1">Time</th>
                                <th data-priority="2">Date</th>
                                <th data-priority="3">Action of Sale</th>
                                <th data-priority="4">Name of Company</th>
                                <th data-priority="4">Name of Contact</th>
                                <th data-priority="4">Position</th>
                                <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Actions
                                </th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Time</th>
                                <th>Date</th>
                                <th>Action of Sale</th>
                                <th>Name of Company</th>
                                <th>Name of Contact</th>
                                <th>Position</th>
                                <th class="uk-text-center">Actions</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr ng-repeat="item in meetingScheduleList" on-last-repeat>
                                <td><input type="checkbox" class="ts_checkbox" data-md-icheck icheck
                                           ng-model="row_select"></td>
                                <td>{{item.name}}</td>
                                <td>{{item.major}}</td>
                                <td>{{item.sex}}</td>
                                <td>{{item.english}}</td>
                                <td>{{item.japanese}}</td>
                                <td>{{item.calculus}}</td>
                                <td>{{item.geometry}}</td>
                                <td class="uk-text-center">
                                    <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i
                                            class="md-icon material-icons uk-text-primary">thumb_up_alt</i></a>
                                    <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i
                                            class="md-icon material-icons uk-text-danger">lock</i></a>
                                    <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i
                                            class="md-icon material-icons uk-text-success">lock_open</i></a>
                                    <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i
                                            class="md-icon material-icons uk-text-warning">create</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="ts_pager">-->
                        <!--<ul class="uk-pagination ts_pager">-->
                            <!--<li data-uk-tooltip title="Select Page">-->
                                <!--<select class="ts_gotoPage ts_selectize"></select>-->
                            <!--</li>-->
                            <!--<li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a>-->
                            <!--</li>-->
                            <!--<li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>-->
                            <!--<li><span class="pagedisplay"></span></li>-->
                            <!--<li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>-->
                            <!--<li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a>-->
                            <!--</li>-->
                            <!--<li data-uk-tooltip title="Page Size">-->
                                <!--<select class="pagesize ts_selectize">-->
                                    <!--<option value="5">5</option>-->
                                    <!--<option value="10">10</option>-->
                                    <!--<option value="25">25</option>-->
                                    <!--<option value="50">50</option>-->
                                <!--</select>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

