﻿<div id="page_content">
    <div id="page_content_inner">
        <!-- circular charts -->
        <div class="uk-grid uk-grid-width-small-1-2 uk-grid-width-large-1-3 uk-grid-width-xlarge-1-5 uk-text-center uk-sortable sortable-handler" id="dashboard_sortable_cards" data-uk-sortable data-uk-grid-margin>
            <div>
                <div class="md-card">
                    <div class="md-card-toolbar bg-blue-title">
                        <h3 class="md-card-toolbar-heading-text">
                            Sent Email
                        </h3>
                        <h3 class="md-card-toolbar-heading-text f-right">
                            0%
                        </h3>
                    </div>
                    <div class="md-card-content bg-blue">
                        <div class="uk-grid uk-grid-divider uk-grid-medium">
                            <div class="uk-width-large-1-2">
                                <i class="material-icons f-60 f-blue">
                                    shopping_cart
                                </i>
                            </div>
                            <div class="uk-width-large-1-2 f-50 f-white">
                                0
                            </div>
                        </div>
                    </div>
                    <div class="md-card-toolbar bg-blue-footer">
                        <h3 class="md-card-toolbar-heading-text">
                            View more...
                        </h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-toolbar bg-blue-title">
                        <h3 class="md-card-toolbar-heading-text">
                            Meeting customer
                        </h3>
                    </div>
                    <div class="md-card-content bg-blue">
                        <div class="uk-grid uk-grid-divider uk-grid-medium">
                            <div class="uk-width-large-1-2">
                                <i class="material-icons f-60 f-blue">
                                    credit_card
                                </i>
                            </div>
                            <div class="uk-width-large-1-2 f-50 f-white">
                                0
                            </div>
                        </div>
                    </div>
                    <div class="md-card-toolbar bg-blue-footer">
                        <h3 class="md-card-toolbar-heading-text">
                            View more...
                        </h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-toolbar bg-blue-title">
                        <h3 class="md-card-toolbar-heading-text">
                            Make & send Quotation
                        </h3>
                    </div>
                    <div class="md-card-content bg-blue">
                        <div class="uk-grid uk-grid-divider uk-grid-medium">
                            <div class="uk-width-large-1-2">
                                <i class="material-icons f-60 f-blue">
                                    person
                                </i>
                            </div>
                            <div class="uk-width-large-1-2 f-50 f-white">
                                0
                            </div>
                        </div>
                    </div>
                    <div class="md-card-toolbar bg-blue-footer">
                        <h3 class="md-card-toolbar-heading-text">
                            View more...
                        </h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-toolbar bg-blue-title">
                        <h3 class="md-card-toolbar-heading-text">
                            Negotiation
                        </h3>
                    </div>
                    <div class="md-card-content bg-blue">
                        <div class="uk-grid uk-grid-divider uk-grid-medium">
                            <div class="uk-width-large-1-2">
                                <i class="material-icons f-60 f-blue">
                                    visibility
                                </i>
                            </div>
                            <div class="uk-width-large-1-2 f-50 f-white">
                                0
                            </div>
                        </div>
                    </div>
                    <div class="md-card-toolbar bg-blue-footer">
                        <h3 class="md-card-toolbar-heading-text">
                            View more...
                        </h3>
                    </div>
                </div>
            </div>
            <div>
                <div class="md-card">
                    <div class="md-card-toolbar bg-blue-title">
                        <h3 class="md-card-toolbar-heading-text">
                            Sign Contract
                        </h3>
                    </div>
                    <div class="md-card-content bg-blue">
                        <div class="uk-grid uk-grid-divider uk-grid-medium">
                            <div class="uk-width-large-1-2">
                                <i class="material-icons f-60 f-blue">
                                    person
                                </i>
                            </div>
                            <div class="uk-width-large-1-2 f-50 f-white">
                                0
                            </div>
                        </div>
                    </div>
                    <div class="md-card-toolbar bg-blue-footer">
                        <h3 class="md-card-toolbar-heading-text">
                            View more...
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-overflow-container">
                            <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                                <li class="uk-active" aria-expanded="true"><a href="#">Map</a></li>
                            </ul>
                            <ul id="tabs_1_content" class="uk-switcher uk-margin">
                                <li aria-hidden="false" class="uk-active uk-grid">
                                    <div class="uk-width-medium-1-1 uk-row-first" map-lazy-load="http://maps.google.com/maps/api/js?libraries=places">
                                        <div class="md-card-content" ng-controller="gmap_neutralBlueCtrl">
                                            <map class="gmap gmap_large" center="17.132582, 96.15611" zoom="12"></map>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                            <li class="uk-active" aria-expanded="true"><a href="#">Sale Analytics</a></li>
                        </ul>
                        <ul id="tabs_1_content" class="uk-switcher uk-margin">
                            <li aria-hidden="false" class="uk-active uk-grid">
                                    <div class="uk-width-medium-1-1">
                                        <div class="md-card">
                                            <div class="md-card-content">
                                                <div id="c3_chart_spline" class="c3chart"></div>
                                            </div>
                                        </div>
                                    </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- secondary sidebar -->
<aside id="sidebar_secondary" sidebar-secondary class="tabbed_sidebar">
    <ul class="uk-tab uk-tab-icons uk-tab-grid" data-uk-tab="{connect:'#dashboard_sidebar_tabs', animation:'slide-horizontal'}">
        <li class="uk-active uk-width-1-3"><a href="#"><i class="material-icons">&#xE422;</i></a></li>
        <li class="uk-width-1-3 chat_sidebar_tab"><a href="#"><i class="material-icons">&#xE0B7;</i></a></li>
        <li class="uk-width-1-3"><a href="#"><i class="material-icons">&#xE8B9;</i></a></li>
    </ul>
    <div custom-scrollbar>
        <ul id="dashboard_sidebar_tabs" class="uk-switcher">
            <li>
                <div class="timeline timeline_small uk-margin-bottom">
                    <div class="timeline_item" ng-repeat="event in user_data.timeline">
                        <div class="timeline_icon timeline_icon_danger" ng-if="event.status == 'danger'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                        <div class="timeline_icon timeline_icon_success" ng-if="event.status == 'success'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                        <div class="timeline_icon timeline_icon_warning" ng-if="event.status == 'warning'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                        <div class="timeline_icon timeline_icon_primary" ng-if="event.status == 'primary'"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                        <div class="timeline_icon" ng-if="!event.status"><i class="material-icons" ng-bind-html="event.icon"></i></div>
                        <div class="timeline_date">
                            {{ event.date | momentDate:'MM-DD-YYYY':'DD' }}
                            <span>{{ event.date | momentDate:'MM-DD-YYYY':'MMM' }}</span>
                        </div>
                        <div class="timeline_content">
                            {{event.description}} <a href="#" ng-if="event.link_text"><strong>{{event.link_text}}</strong></a>
                            <div class="timeline_content_addon" ng-if="event.image || event.post_excerpt || event.user_name">
                                <img ng-src="{{event.image}}" alt="" ng-if="event.image" />
                                <blockquote ng-if="event.post_excerpt">
                                    {{event.post_excerpt}}&hellip;
                                </blockquote>
                                <ul class="md-list md-list-addon" ng-if="event.user_name">
                                    <li>
                                        <div class="md-list-addon-element" ng-if="event.user_avatar">
                                            <img class="md-user-image md-list-addon-avatar" ng-src="{{event.user_avatar}}" alt="" />
                                        </div>
                                        <div class="md-list-content">
                                            <span class="md-list-heading" ng-if="event.user_name">{{event.user_name}}</span>
                                            <span class="uk-text-small uk-text-muted" ng-if="event.user_status">{{event.user_status}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <ul class="md-list md-list-addon chat_users">
                    <li ng-repeat="user in sSidebar_users">
                        <div class="md-list-addon-element">
                            <img class="md-user-image md-list-addon-avatar" ng-src="assets/img/avatars/{{ user.avatar }}_tn.png" alt="" />
                        </div>
                        <div class="md-list-content">
                            <span class="md-list-heading">{{user.name}}</span>
                            <span class="uk-text-small uk-text-muted">
                                <span class="uk-text-small uk-text-muted">
                                    Lorem ipsumm...
                                </span>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="chat_box_wrapper chat_box_small" id="chat">
                    <div class="chat_box touchscroll chat_box_colors_a">
                        <div class="chat_message_wrapper">
                            <div class="chat_user_avatar">
                                <img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt="" />
                            </div>
                            <ul class="chat_message">
                                <li>
                                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eum? </p>
                                </li>
                                <li>
                                    <p> Lorem ipsum dolor sit amet.<span class="chat_message_time">13:38</span> </p>
                                </li>
                            </ul>
                        </div>
                        <div class="chat_message_wrapper chat_message_right">
                            <div class="chat_user_avatar">
                                <img class="md-user-image" src="assets/img/avatars/avatar_03_tn.png" alt="" />
                            </div>
                            <ul class="chat_message">
                                <li>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus distinctio dolor earum est hic id impedit ipsum minima mollitia natus nulla perspiciatis quae quasi, quis recusandae, saepe, sunt totam.
                                        <span class="chat_message_time">13:34</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="chat_message_wrapper">
                            <div class="chat_user_avatar">
                                <img class="md-user-image" src="assets/img/avatars/avatar_11_tn.png" alt="" />
                            </div>
                            <ul class="chat_message">
                                <li>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ea mollitia pariatur porro quae sed sequi sint tenetur ut veritatis.
                                        <span class="chat_message_time">23 Jun 1:10am</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div class="chat_message_wrapper chat_message_right">
                            <div class="chat_user_avatar">
                                <img class="md-user-image" src="assets/img/avatars/avatar_03_tn.png" alt="" />
                            </div>
                            <ul class="chat_message">
                                <li>
                                    <p> Lorem ipsum dolor sit amet, consectetur. </p>
                                </li>
                                <li>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        <span class="chat_message_time">Friday 13:34</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <h4 class="heading_c uk-margin-small-bottom uk-margin-top">General Settings</h4>
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch id="settings_site_online" name="settings_site_online" ng-model="sSidebar.site_online" />
                            </div>
                            <span class="md-list-heading">Site Online</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch id="settings_seo" name="settings_seo" ng-model="sSidebar.seo" />
                            </div>
                            <span class="md-list-heading">Search Engine Friendly URLs</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch id="settings_url_rewrite" name="settings_url_rewrite" ng-model="sSidebar.url_rewrite" />
                            </div>
                            <span class="md-list-heading">Use URL rewriting</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                </ul>
                <hr class="md-hr">
                <h4 class="heading_c uk-margin-small-bottom uk-margin-top">Other Settings</h4>
                <ul class="md-list">
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch color="#7cb342" id="settings_top_bar" name="settings_top_bar" ng-model="sSidebar.top_bar" />
                            </div>
                            <span class="md-list-heading">Top Bar Enabled</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch color="#7cb342" id="settings_api" name="settings_api" ng-model="sSidebar.api" />
                            </div>
                            <span class="md-list-heading">Api Enabled</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                    <li>
                        <div class="md-list-content">
                            <div class="uk-float-right">
                                <input type="checkbox" class="switchery switchery-small" ui-switch color="#d32f2f" id="settings_minify_static" name="settings_minify_static" ng-model="sSidebar.minify_assets" />
                            </div>
                            <span class="md-list-heading">Minify JS files automatically</span>
                            <span class="uk-text-muted uk-text-small">Lorem ipsum dolor sit amet&hellip;</span>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <button type="button" class="chat_sidebar_close uk-close"></button>
    <div class="chat_submit_box">
        <div class="uk-input-group">
            <input type="text" class="md-input" name="submit_message" id="submit_message" placeholder="Send message">
            <span class="uk-input-group-addon">
                <a href="#"><i class="material-icons md-24">&#xE163;</i></a>
            </span>
        </div>
    </div>
</aside><!-- secondary sidebar end -->
