<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Login</h3>

        <div class="md-card">
            <div class="md-card-content">
                Oh oh, you need to build UI for Login feature
            </div>
        </div>

    </div>
</div>