﻿<div id="page_content" map-lazy-load="http://maps.google.com/maps/api/js?libraries=places">
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                            <li class="uk-active" aria-expanded="true"><a href="#">Customer Information</a></li>
                            <li><a href="#">Create Customer</a></li>
                        </ul>
                        <ul id="tabs_1_content" class="uk-switcher uk-margin">
                            <li aria-hidden="false" class="uk-active uk-grid">
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Customer Name</h3>
                                                <input type="text" class="md-input" value=""
                                                       ng-model="itemCustomer.customerName">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Customer Type</h3>
                                                <select kendo-drop-down-list
                                                        k-data-text-field="'name'"
                                                        k-data-value-field="'id'"
                                                        k-data-source="customerTypes"
                                                        ng-model="itemCustomer.customerTypeId"
                                                        style="width: 100%">
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="">
                                                <h3 class="heading_a">Type of investment</h3>
                                                <select kendo-drop-down-list
                                                        k-data-text-field="'name'"
                                                        k-data-value-field="'id'"
                                                        k-data-source="typeOfInvestments"
                                                        ng-model="itemCustomer.typeOfInvestmentId"
                                                        style="width: 100%">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Customer Status</h3>
                                                <select style="width: 100%" kendo-drop-down-list
                                                        ng-model="itemCustomer.customerStatus">
                                                    <option ng-value="0">NoContacted</option>
                                                    <option ng-value="1">Contacted</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="uk-width-medium-1-1 m-t-25">
                                    <div class="md-input-wrapper">
                                        <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light"
                                           href="javascript:void(0)" ng-click="searchCustomer()"><i
                                                class="md-icon material-icons">search</i>Filter</a>
                                        <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light"
                                           href="javascript:void(0)" file-browser>
                                            <label>
                                                <i class="md-icon material-icons">add</i>
                                                <input type="file" id="import" name="import"
                                                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                                       onchange="angular.element(this).scope().uploadFile(this.files)"/>
                                                Import
                                            </label>
                                        </a>
                                        <!--<a id="export" class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light"-->
                                        <!--href="http://203.81.74.34:8000/api/customers/export?page=0&size=20&sort=asc&column=customerName&txtSearch=&customerTypeId=1&typeOfInvestmentId=1&customerStatus=1&date=2018-07-17T11%3A07%3A19.094"><i-->
                                        <!--class="md-icon material-icons">add</i>Export</a>  -->
                                        <a id="export"
                                           class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light"
                                           href="javascript:void(0)" ng-click="exportCustomer()"><i
                                                class="md-icon material-icons">add</i>Export</a>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-grid">
                                <div class="uk-width-medium-1-1">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Customer Name</h3>
                                                <input type="text" class="md-input" value=""
                                                       ng-model="itemCreate.customerName">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Customer Type</h3>
                                                <select kendo-drop-down-list
                                                        k-data-text-field="'name'"
                                                        k-data-value-field="'id'"
                                                        k-data-source="customerTypes"
                                                        ng-model="itemCreate.customerTypeId"
                                                        style="width: 100%">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Type of investment</h3>
                                                <select kendo-drop-down-list
                                                        k-data-text-field="'name'"
                                                        k-data-value-field="'id'"
                                                        k-data-source="typeOfInvestments"
                                                        ng-model="itemCreate.typeOfInvestmentId"
                                                        style="width: 100%">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Type of Sale</h3>
                                                <select kendo-drop-down-list
                                                        k-data-text-field="'name'"
                                                        k-data-value-field="'id'"
                                                        k-data-source="typeOfSales"
                                                        ng-model="itemCreate.typeOfSaleId"
                                                        style="width: 100%">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Customer Status</h3>
                                                <select style="width: 100%" kendo-drop-down-list
                                                        ng-model="itemCreate.customerStatus">
                                                    <option ng-value="0">NoContacted</option>
                                                    <option ng-value="1">Contacted</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Address</h3>
                                                <input type="text" class="md-input" ng-model="itemCreate.address">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Catalog</h3>
                                                <input type="text" class="md-input" ng-model="itemCreate.catalog">
                                            </div>
                                        </div>
                                        <!--<div class="uk-width-medium-1-2">-->
                                        <!--<div class="md-input-wrapper">-->
                                        <!--<h3 class="heading_a">Status</h3>-->
                                        <!--<input type="text" class="md-input" ng-model="itemCreate.status">-->
                                        <!--</div>-->
                                        <!--</div>-->
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Contact Name</h3>
                                                <input type="text" class="md-input" ng-model="itemCreate.contactName">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Phone</h3>
                                                <input type="text" class="md-input" ng-model="itemCreate.phone">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Email</h3>
                                                <input type="text" class="md-input" ng-model="itemCreate.email">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Position</h3>
                                                <input type="text" class="md-input" ng-model="itemCreate.position">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Service</h3>
                                                <input type="text" class="md-input" ng-model="itemCreate.service">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-2">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Date</h3>
                                                <input kendo-date-picker
                                                       ng-model="itemCreate.customerDate"
                                                       k-format="'yyyy-MM-dd'"
                                                       style="width: 100%; height: 2.65em;"/>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1 m-t-25">
                                            <div class="md-input-wrapper">
                                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light"
                                                   href="javascript:void(0)" ng-click="createCustomer()"><i
                                                        class="md-icon material-icons">add</i>Create</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-6-10">
                                    <div class="md-card-content" ng-controller="gmap_neutralBlueCtrl">
                                        <map class="gmap gmap_large" center="17.132582, 96.15611" zoom="12"></map>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-overflow-container uk-margin-bottom">
                        <h1>Customer List</h1>
                        <table class="uk-table uk-table-align-vertical uk-table-nowrap" id="ts_pager_filter">
                            <thead>
                            <tr>
                                <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                                <th data-priority="critical">Customer Name</th>
                                <th data-priority="1">Address</th>
                                <th data-priority="2">Catalog</th>
                                <th data-priority="3">Status</th>
                                <th data-priority="4">Contact Name</th>
                                <th data-priority="4">Phone</th>
                                <th data-priority="4">Email</th>
                                <th data-priority="4">Position</th>
                                <th data-priority="4">Service</th>
                                <th data-priority="4">Date</th>
                                <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Edit</th>
                                <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Delete</th>
                            </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Customer Name</th>
                                    <th>Address</th>
                                    <th>Catalog</th>
                                    <th>Status</th>
                                    <th>Contact Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Position</th>
                                    <th>Service</th>
                                    <th>Date</th>
                                    <th class="uk-text-center">Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="item in customers" on-last-repeat>
                                    <td><input type="checkbox" class="ts_checkbox" data-md-icheck icheck ng-model="row_select"></td>
                                    <td>{{item.customerName}}</td>
                                    <td>{{$index}}</td>
                                    <td>{{item.catalog}}</td>
                                    <td>{{item.customerStatus === 1 ? "Contacted" : "NoContacted"}}</td>
                                    <td>{{item.contactName}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.position}}</td>
                                    <td>{{item.service}}</td>
                                    <td>{{item.customerDate.toLocaleDateString()}}</td>
                                    <td class="uk-text-center">
                                        <!--<a href class="ts_edit_row" data-uk-modal="{target:'#modal_overflow'}"><i-->
                                        <a href class="ts_edit_row" ng-click="editCustomer($index)"><i class="md-icon material-icons uk-text-warning">create</i></a>
                                    </td>
                                    <td class="uk-text-center">
                                        <a href class="ts_remove_row" ng-click="removeCustomer($index)"><i class="md-icon material-icons uk-text-danger">delete_sweep</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div class="ts_pager">-->
                        <!--<ul class="uk-pagination ts_pager">-->
                            <!--<li data-uk-tooltip title="Select Page">-->
                                <!--<select class="ts_gotoPage ts_selectize"></select>-->
                            <!--</li>-->
                            <!--<li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a>-->
                            <!--</li>-->
                            <!--<li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>-->
                            <!--<li><span class="pagedisplay"></span></li>-->
                            <!--<li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>-->
                            <!--<li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a>-->
                            <!--</li>-->
                            <!--<li data-uk-tooltip title="Page Size">-->
                                <!--<select class="pagesize ts_selectize">-->
                                    <!--<option value="5">5</option>-->
                                    <!--<option value="10">10</option>-->
                                    <!--<option value="25">25</option>-->
                                    <!--<option value="50">50</option>-->
                                <!--</select>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div id="popupEdit" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" ng-click="closeModal('popupEdit')">&times;</span>

                <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
                <div class="uk-width-medium-1-1">
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Customer Name</h3>
                                <input type="text" class="md-input" value="" ng-model="itemEdit.customerName">
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Customer Type</h3>
                                <select kendo-drop-down-list
                                        k-data-text-field="'name'"
                                        k-data-value-field="'id'"
                                        k-data-source="customerTypes"
                                        ng-model="itemEdit.customerTypeId"
                                        style="width: 100%">
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Type of investment</h3>
                                <select kendo-drop-down-list
                                        k-data-text-field="'name'"
                                        k-data-value-field="'id'"
                                        k-data-source="typeOfInvestments"
                                        ng-model="itemEdit.typeOfInvestmentId"
                                        style="width: 100%">
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Type of Sale</h3>
                                <select kendo-drop-down-list
                                        k-data-text-field="'name'"
                                        k-data-value-field="'id'"
                                        k-data-source="typeOfSales"
                                        ng-model="itemEdit.typeOfSaleId"
                                        style="width: 100%">
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Customer Status</h3>
                                <select style="width: 100%" kendo-drop-down-list
                                        ng-model="itemEdit.customerStatus">
                                    <option ng-value="0">NoContacted</option>
                                    <option ng-value="1">Contacted</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Address</h3>
                                <input type="text" class="md-input" ng-model="itemEdit.address">
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Catalog</h3>
                                <input type="text" class="md-input" ng-model="itemEdit.catalog">
                            </div>

                        </div>
                        <!--<div class="uk-width-medium-1-2">-->
                        <!--<div class="md-input-wrapper">-->
                        <!--<h3 class="heading_a">Status</h3>-->
                        <!--<input type="text" class="md-input" ng-model="itemEdit.status">-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Contact Name</h3>
                                <input type="text" class="md-input" ng-model="itemEdit.contactName">
                            </div>

                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Phone</h3>
                                <input type="text" class="md-input" ng-model="itemEdit.phone">
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Email</h3>
                                <input type="text" class="md-input" ng-model="itemEdit.email">
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Position</h3>
                                <input type="text" class="md-input" ng-model="itemEdit.position">
                            </div>
                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Service</h3>
                                <input type="text" class="md-input" ng-model="itemEdit.service">
                            </div>

                        </div>
                        <div class="uk-width-medium-1-2">
                            <div class="md-input-wrapper">
                                <h3 class="heading_a">Date</h3>
                                <input kendo-date-picker
                                       ng-model="itemEdit.customerDate"
                                       k-format="'yyyy-MM-dd'"
                                       style="width: 100%; height: 2.65em;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="uk-width-medium-1-1 m-t-25">
                    <div class="md-input-wrapper">
                        <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light"
                           href ng-click="closeModal('popupEdit')"><i
                                class="md-icon material-icons">cancel</i>Cancel</a>
                        <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light"
                           href ng-click="saveEditCustomer()"><i class="md-icon material-icons">save</i>Save</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--<button class="md-btn" data-uk-modal="{target:'#modal_overflow'}">Open</button>-->
<!--<div id="modal_overflow" class="uk-modal">-->
<!--<div class="uk-modal-dialog">-->
<!--<button type="button" class="uk-modal-close uk-close"></button>-->
<!--<h2 class="heading_a">Edit customer</h2>-->

<!--&lt;!&ndash;<p>Edit customer</p>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="uk-overflow-container">&ndash;&gt;-->
<!--<div class="uk-width-medium-1-1">-->

<!--<div class="uk-grid" data-uk-grid-margin="">-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Customer Name</h3>-->
<!--<input type="text" class="md-input" ng-model="itemEdit.customerName">-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Customer Type</h3>-->
<!--<select kendo-combo-box-->
<!--k-data-text-field="'name'"-->
<!--k-data-value-field="'id'"-->
<!--k-data-source="customerTypes"-->
<!--ng-model="itemEdit.customerTypeId"-->
<!--style="width: 100%">-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Type of investment</h3>-->
<!--<select kendo-combo-box-->
<!--k-data-text-field="'name'"-->
<!--k-data-value-field="'id'"-->
<!--k-data-source="typeOfInvestments"-->
<!--ng-model="itemEdit.typeOfInvestmentId"-->
<!--style="width: 100%">-->
<!--</select>-->
<!--</div>-->

<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Type of Sale</h3>-->
<!--<select kendo-combo-box-->
<!--k-data-text-field="'name'"-->
<!--k-data-value-field="'id'"-->
<!--k-data-source="typeOfSales"-->
<!--ng-model="itemEdit.typeOfSaleId"-->
<!--style="width: 100%">-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Customer Status</h3>-->
<!--<select style="width: 100%" kendo-combo-box-->
<!--ng-model="itemEdit.customerStatus">-->
<!--<option ng-value="0">NoContacted</option>-->
<!--<option ng-value="1">Contacted</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Address</h3>-->
<!--<input type="text" class="md-input" ng-model="itemEdit.address">-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Catalog</h3>-->
<!--<input type="text" class="md-input" ng-model="itemEdit.catalog">-->
<!--</div>-->

<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Status</h3>-->
<!--<input type="text" class="md-input" ng-model="itemEdit.status">-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Contact Name</h3>-->
<!--<input type="text" class="md-input" ng-model="itemEdit.contactName">-->
<!--</div>-->

<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Phone</h3>-->
<!--<input type="text" class="md-input" ng-model="itemEdit.phone">-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Email</h3>-->
<!--<input type="text" class="md-input" ng-model="itemEdit.email">-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Position</h3>-->
<!--<input type="text" class="md-input">-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-medium-1-2" ng-model="itemEdit.position">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Service</h3>-->
<!--<input type="text" class="md-input" ng-model="itemEdit.service">-->
<!--</div>-->

<!--</div>-->
<!--<div class="uk-width-medium-1-2">-->
<!--<div class="md-input-wrapper">-->
<!--<h3 class="heading_a">Date</h3>-->
<!--<input kendo-date-picker-->
<!--ng-model="itemEdit.customerDate"-->
<!--k-format="'yyyy-MM-dd'"-->
<!--k-ng-model="dateObject"-->
<!--style="width: 100%"/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
