﻿
<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                            <li class="uk-active" aria-expanded="true"><a href="#">Customer Care Activity</a></li>

                        </ul>
                        <ul id="tabs_1_content" class="uk-switcher uk-margin">
                            <li aria-hidden="false" class="uk-active uk-grid">
                                <div class="uk-width-medium-1-1 uk-row-first">
                                    <div class="uk-grid" data-uk-grid-margin="">
                                        <div class="uk-width-medium-2-10 uk-row-first">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Action</h3>
                                                <input type="text" class="md-input">
                                            </div>

                                        </div>
                                        <div class="uk-width-medium-2-10">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Status</h3>
                                                <input type="text" class="md-input">
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-2-10 uk-row-first">
                                            <div class="md-input-wrapper">
                                                <h3 class="heading_a">Date</h3>
                                                <div class="uk-input-group">
                                                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>

                                                    <input class="md-input" type="text" id="uk_dp_start" md-input ng-model="forms_advanced.dp_start">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="uk-width-medium-4-10">
                                            <div class="md-input-wrapper">
                                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light m-t-25" href="javascript:void(0)"><i class="md-icon material-icons">search</i>Filter</a>
                                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light m-t-25 m-l-35" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Create</a>
                                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light m-t-25" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Import</a>
                                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light m-t-25" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Export</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content" ng-controller="calendarCtrl">
                    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-overflow-container uk-margin-bottom">
                        <h2>List of CC Activities</h2>
                        <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                            <thead>
                                <tr>
                                    <th data-name="Select" data-priority="5"><input type="checkbox" class="ts_checkbox_all"></th>
                                    <th data-priority="critical">Customer Name</th>
                                    <th data-priority="1">Address</th>
                                    <th data-priority="2">Person</th>
                                    <th data-priority="3">Position</th>
                                    <th data-priority="4">Action</th>
                                    <th data-priority="4">Date</th>
                                    <th data-priority="4">Reason</th>
                                    <th data-priority="4">Type</th>
                                    <th data-priority="4">Status</th>
                                    <th data-priority="4">Sale Care</th>
                                    <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Actions</th>
                                    <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Actions</th>
                                    <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Actions</th>
                                    <th class="filter-false remove sorter-false uk-text-center" data-priority="1">Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>Customer Name</th>
                                    <th>Address</th>
                                    <th>Person</th>
                                    <th>Position</th>
                                    <th>Action</th>
                                    <th>Date</th>
                                    <th>Reason</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Sale Care</th>
                                    <th class="uk-text-center">Actions</th>
                                    <th class="uk-text-center">Actions</th>
                                    <th class="uk-text-center">Actions</th>
                                    <th class="uk-text-center">Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="item in table_data" on-last-repeat>
                                    <td><input type="checkbox" class="ts_checkbox" data-md-icheck icheck ng-model="row_select"></td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.major}}</td>
                                    <td>{{item.sex}}</td>
                                    <td>{{item.english}}</td>
                                    <td>{{item.japanese}}</td>
                                    <td>{{item.calculus}}</td>
                                    <td>{{item.geometry}}</td>
                                    <td>{{item.japanese}}</td>
                                    <td>{{item.calculus}}</td>
                                    <td>{{item.geometry}}</td>
                                    <td class="uk-text-center">
                                        <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons uk-text-primary">thumb_up_alt</i></a>
                                    </td>
                                    <td class="uk-text-center">
                                        <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons uk-text-danger">lock</i></a>
                                    </td>
                                    <td class="uk-text-center">
                                        <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons uk-text-success">lock_open</i></a>
                                    </td>
                                    <td class="uk-text-center">
                                        <a href="#" class="ts_remove_row" ng-click="ts_remove_item($event,item)"><i class="md-icon material-icons uk-text-warning">create</i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ts_pager">
                        <ul class="uk-pagination ts_pager">
                            <li data-uk-tooltip title="Select Page">
                                <select class="ts_gotoPage ts_selectize"></select>
                            </li>
                            <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                            <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                            <li><span class="pagedisplay"></span></li>
                            <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                            <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                            <li data-uk-tooltip title="Page Size">
                                <select class="pagesize ts_selectize">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

