﻿<div id="page_content" map-lazy-load="http://maps.google.com/maps/api/js?libraries=places">
    <div id="page_content_inner">
        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-grid">
                    <div class="uk-width-1-1">
                        <ul class="uk-tab" data-uk-tab="{connect:'#tabs_1_content'}" id="tabs_1">
                            <li class="uk-active" aria-expanded="true"><a href="#">Create Quotation</a></li>

                        </ul>
                        <ul id="tabs_1_content" class="uk-switcher uk-margin">
                            <li aria-hidden="false" class="uk-active uk-grid">
                                <div class="uk-width-medium-6-10 uk-row-first">
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-5-10 uk-row-first">
                                              <h2>Quotation<span class="f-40">ICSC0005</span></h2>
                                        </div>
                                        <div class="uk-width-medium-5-10">
                                             <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Edit</a>
                                             <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Print</a>
                                        </div>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-5-10 uk-row-first">
                                            <h2>Customer:</h2>
                                        </div>
                                        <div class="uk-width-medium-5-10">
                                            <h2>Mytel Address:</h2>
                                        </div>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-5-10 uk-row-first">
                                            <h2>Address:</h2>
                                        </div>
                                        <div class="uk-width-medium-5-10">
                                            <h2>Tel:</h2>
                                        </div>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-5-10 uk-row-first"></div>
                                        <div class="uk-width-medium-5-10">
                                            <h2>Email:</h2>
                                        </div>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-5-10 uk-row-first"></div>
                                        <div class="uk-width-medium-5-10">
                                            <h2>Quote Date:</h2>
                                        </div>
                                    </div>
                                    <div class="uk-grid">
                                        <div class="uk-width-medium-5-10 uk-row-first"></div>
                                        <div class="uk-width-medium-5-10">
                                            <h2>Valid Until:</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-4-10">
                                    <div class="md-card-content" ng-controller="gmap_neutralBlueCtrl">
                                        <map class="gmap gmap_large" center="17.132582, 96.15611" zoom="12"></map><br />
                                        <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Last Mile</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="md-card">
                <div class="md-card-content">
                    <div class="uk-overflow-container uk-margin-bottom">
                        <h1>Pricing</h1>
                        <table class="uk-table uk-table-hover">
                            <thead>
                                <tr>
                                    <th><h2>Service</h2></th>
                                    <th><h2>A-Point</h2></th>
                                    <th><h2>B-Point</h2></th>
                                    <th><h2>Bandwidth</h2></th>
                                    <th><h2>Service Term (Month)</h2></th>
                                    <th><h2>Non-Recurring charge (USD)</h2></th>
                                    <th><h2>Monthly Recurring charge (USD)</h2></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                                <tr>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                    <td>Table Data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="uk-grid" data-uk-grid-margin="">
                        <div class="uk-width-medium-6-10 uk-row-first">
                            <div class="md-input-wrapper">
                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Add</a>
                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Delete</a>
                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Save</a>
                                <a class="md-btn md-btn-primary md-btn-large md-btn-wave-light md-btn-icon waves-effect waves-button waves-light" href="javascript:void(0)"><i class="md-icon material-icons">add</i>Email</a>
                            </div>

                        </div>
                        <div class="uk-width-medium-4-10">
                            <div class="md-input-wrapper">
                                <ul class="md-list md-list-addon uk-sortable sortable-handler uk-margin-medium-bottom">
                                    <li>
                                        <h2>SubTotal:</h2>
                                    </li>
                                    <li>
                                        <h3>Taxes:</h3>
                                    </li>
                                    <li>
                                        <h2>Total:</h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

